<div class="row">
    <div class="col-4">
        <label for="Flavors">Sabores:</label>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Americana" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Americana
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Baileys" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Baileys
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Banana Split" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Banana Split
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Campari c/Naranja" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Campari c/Naranja
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Capucchino G." id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Capucchino G.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Cereza" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Cereza
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Chantilly c/frutilla" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Chantilly c/frutilla
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Chocolate
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Chocolate c/nuez
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Chocolate G.
            </label>
        </div>
    </div>

    <div class="col-4">
        <label for="Flavors">otros:</label>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Chocolate nevado
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Crema Rusa
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Daiquiri de frutilla
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Dulce de Leche
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                D. L. c/nuez
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                D. L. Granizado
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                D. L. Merengado
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Durazno con Vodka
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Fernet c/Coca
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Frambuesa
            </label>
        </div>
    </div>
    <div class="col-4">
        <label for="Flavors">otros:</label>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Frizzé Blue
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Granizado
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Imperial
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Limón
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Mantecol
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Mascarpone
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Mojito
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Oreo
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Sambayón
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                S. c/ Almendras
            </label>
        </div>
    </div>

</div>

