<div class="container">
    <div class="row ">
        <div class="col-lg-6">
            <form method="post" >
                <div class="form-group">
                    <label for="Envase">Envase:</label>
                    <select class="form-control" id="Envase" name="size">
                        <option value="1 Kilo">1 Kilo</option>
                        <option value="1/2 Kilo">1/2 Kilo</option>
                        <option value="1/4 Kilo">1/4 kilo</option>
                        <option value="Tacita">Tacita</option>
                        <option value="1 Bocha">1 Bocha</option>
                        <option value="2 Bochas">2 Bochas</option>
                    </select>
                </div>
                <div class="form-group">
                    <%- partial('../Partials/flavors.ejs') %>
                </div>

                <div class="form-group">
                    <label for="Monto">Monto Total:</label>
                    <input class="form-control" id="PriceOnly" type="number" name="Price" placeholder="Monto Total" value="0" readonly>
                </div>

                <button type="submit" class="btn btn-outline-success" formaction="/orden">Finish</button>
                <button type="submit" class="btn btn-outline-primary" formaction="/addorden"><i class="fas fa-plus"></i></button>

            </form>
        </div>
        <div class="col-lg-3">
        </div>
        <div class="col-lg-3">
        </div>
    </div>
</div>
