<div class="container">
    <div class="row ">
        <div class="col-lg-6">
            <form>
                <div class="form-group">
                    <label for="Envase">Envase:</label>
                    <select class="form-control" id="Envase">
                        <option name="1kilo">1 Kilo</option>
                        <option name="1/2kilo">1/2 Kilo</option>
                        <option name="1/4kilo">1/4 kilo</option>
                        <option name="tacita">Tacita</option>
                        <option name="cucurucho1">1 Bocha</option>
                        <option name="cucurucho2">2 Bochas</option>
                    </select>
                </div>
                <div class="form-group">
                    <%- partial('../Partials/flavors.ejs') %>
                </div>

                <div class="form-group">
                    <label for="Monto">Monto Total:</label>
                    <input class="form-control" type="number" placeholder="Monto Total" value="500" readonly>
                </div>

                <button type="submit" class="btn btn-outline-success">Finish</button>
                <a href="#" class="btn btn-outline-primary"><i class="fas fa-plus"></i></a>

            </form>
        </div>
        <div class="col-lg-3">
        </div>
        <div class="col-lg-3">
        </div>
    </div>
</div>
