<div class="container">
    <div class="row ">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form method="post" action="/signup">
                <div class="form-group">
                    <label for="Usuario">Nombre usuario:</label>
                    <input type="text" class="form-control" id="Usuario"  aria-describedby="emailHelp" placeholder="Usuario" name="user" required>
                </div>
                <div class="form-group">
                    <label for="Name">Nombre:</label>
                    <input type="text" class="form-control" id="Name" aria-describedby="emailHelp" placeholder="Nombre" name="name" required>
                </div>
                <div class="form-group">
                    <label for="LastName">Apellido:</label>
                    <input type="text" class="form-control" id="LastName" aria-describedby="emailHelp" placeholder="Apellido" name="lastname" required>
                </div>
                <div class="form-group">
                    <label for="Emailsign1">Email:</label>
                    <input type="email" class="form-control" id="Emailsign1" aria-describedby="emailHelp" placeholder="Email" name="mail" required>
                </div>
                <div class="form-group">
                    <label for="Password">Contraseña:</label>
                    <input type="password" class="form-control" id="Password" minlength="8" placeholder="Contraseña" name="pass" required>
                </div>
               <!--<div class="form-group">
                    <label for="Password">Confirmar contraseña:</label>
                    <input type="password" class="form-control" id="Password" placeholder="Contraseña" required>
                </div>-->
                <div class="form-group">
                    <label for="Direccion1">Dirección:</label>
                    <input type="text" class="form-control" id="Direccion1" placeholder="Calle" name="Direccion" required>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" id="Direccion1" placeholder="Numero" name="Direccion" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="Direccion1" placeholder="Barrio" name="Direccion" required>
                </div>
                <div class="form-group">
                    <label for="Telefono">Número telefono:</label>
                    <input type="tel" class="form-control" id="Telefono" placeholder="Número" name="phone" required>
                    <!--pattern="[0-9]{4}-[0-9]{2}-[0-9]{4}"-->
                </div>
                <button type="submit" class="btn btn-outline-success">Submit</button>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
