<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">EL MEJOR HELADO DE LA VILLA</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">Seguinos en todas nuestras redes!</p>
                <a href="https://www.facebook.com/sergiobottaro/" class="btn btn-outline-primary btn-md" target="_blank"> <i class="fab fa-facebook-square"></i></a>
                <a href="https://www.instagram.com/heladeriatrivento/" class="btn btn-outline-danger btn-md" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">Queres visitarnos? Ubicanos en nuestra sucursal!</p>
                <a href="https://www.google.com.ar/maps/place/Helader%C3%ADa+Trivento/@-31.4246592,-64.4911202,15z/data=!4m8!1m2!2m1!1sAvenida+
                Uruguay+728,+Villa+Carlos+Paz,+Provincia+de+C%C3%B3rdoba!3m4!1s0x942d6642ec811fcd:0x333b4ba9fe2ade11!8m2!3d-31.4160487!4d-64.4929707"
                   class="btn btn-outline-success btn-md" target="_blank"><i class="fas fa-map-marked-alt"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corrupti quam magnam!
                    Veniam, dolorum facere?
                    Commodi, ut. Et, itaque quam!</p>
                <a href="" class="btn btn-outline-success btn-sm">Ingresar</a>
                <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
            </div>
        </div>
    </div>
</div>



