<div class="container">

    <form method="post">
        <div class="row ">
            <div class="col-lg-6">

                <div class="form-group">
                    <label for="Envase">Envase:</label>
                    <select class="form-control" id="Envase" name="size">
                        <option value="1 Kilo">1 Kilo</option>
                        <option value="1/2 Kilo">1/2 Kilo</option>
                        <option value="1/4 Kilo">1/4 kilo</option>
                        <option value="Tacita">Tacita</option>
                        <option value="1 Bocha">1 Bocha</option>
                        <option value="2 Bochas">2 Bochas</option>
                    </select>
                </div>
                <div class="form-group">
                    <%- partial('../Partials/flavors.ejs') %>
                </div>

                <div class="form-group">
                    <label for="Monto">Monto Total:</label>
                    <input class="form-control" id="Monto" type="number" name="Price" placeholder="Monto Total"
                           value="<%- amount %>" readonly>
                </div>

                <button type="submit" class="btn btn-outline-success" formaction="/sold">Finish</button>
                <button type="submit" class="btn btn-outline-primary" formaction="/addorden"><i class="fas fa-plus"></i>
                </button>

            </div>
            <div class="col-lg-1">
                <label for="cantidad">Cantidad:</label>
                <input class="form-control" id="cantidad" type="number" name="plus" placeholder="Cantidad"
                       value="<%- sum %>" readonly>
            </div>
            <div class="col-lg-5"></div>
        </div>
    </form>


</div>


